#main-container {
  display:flex;
  min-height: calc(100vh - 20px);
  flex-wrap: wrap;
}

#main-left {
  width: 50%;
}

#main-right {
  width:50%;
}

@media (max-width: 700px) {
  #main-left {
    width:100%;
  }
  #main-right {
    width:100%;
  }
}


